@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  position: absolute;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
}

nav.open {
  right: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
